<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  Hello !

  {% for type, flashMessages in app.session.flashbag.all %}
    {% for flash in flashMessages %}
      <div style="color:{% if type == 'error' %}red{% elseif type == 'success' %}green {% endif %}">{{ flash }}</div>
    {% endfor %}
  {% endfor %}

  <a href="{{ facebookUrl }}"> Click here to login on facebook </a> <br />
  <a href="{{ instagramUrl }}"> Click here to login on instagram </a>

</body>
<script type="text/javascript" src="http://localhost:3000/client.js"></script>
<script>
var client = new Faye.Client('http://localhost:3000/');
client.subscribe('/social-feed', function (message) {
  console.log(message);
});
</script>
</html>
