<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A social wall SAAS platform" />
  <meta name="author" content="Edouard CHIN" />

  <title>Admin Wally {% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
  {% stylesheets
    '@admin_base_css'
    filter='cssrewrite' output='compiled/css/admin-base.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body class="page-body" data-url="{{ url(app.request.get('_route')) }}">
  <div class="page-container">
    <div class="sidebar-menu">
      <div class="sidebar-menu-inner">
        <header class="logo-env">
          <div class="logo">
            <a href="index.html">
              <img src="" width="120" alt="" /> {# TOFIX #}
            </a>
          </div>
          <div class="sidebar-collapse">
            <a href="#" class="sidebar-collapse-icon">
              <i class="entypo-menu"></i>
            </a>
          </div>
          <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
              <i class="entypo-menu"></i>
            </a>
          </div>
        </header>
        <ul id="main-menu" class="main-menu">
          <li>
            <a href="layout-api.html">
              <i class="entypo-layout"></i>
              <span class="title">Layouts</span>
            </a>
            <ul>
              <li>
                <a href="layout-api.html">
                  <span class="title">Layout API</span>
                </a>
              </li>
              <li>
                <a href="layout-collapsed-sidebar.html">
                  <span class="title">Collapsed Sidebar</span>
                </a>
              </li>
              <li>
                <a href="layout-fixed-sidebar.html">
                  <span class="title">Fixed Sidebar</span>
                </a>
              </li>
              <li>
                <a href="layout-chat-open.html">
                  <span class="title">Chat Open</span>
                </a>
              </li>
              <li>
                <a href="layout-horizontal-menu-boxed.html">
                  <span class="title">Horizontal Menu Boxed</span>
                </a>
              </li>
              <li>
                <a href="layout-horizontal-menu-fluid.html">
                  <span class="title">Horizontal Menu Fluid</span>
                </a>
              </li>
              <li>
                <a href="layout-mixed-menus.html">
                  <span class="title">Mixed Menus</span>
                </a>
              </li>
              <li>
                <a href="layout-right-sidebar.html">
                  <span class="title">Right Sidebar</span>
                </a>
              </li>
              <li>
                <a href="layout-both-menus-right-sidebar.html">
                  <span class="title">Both Menus (Right Sidebar)</span>
                </a>
              </li>
              <li>
                <a href="layout-page-transition-fade.html">
                  <span class="title">Page Enter Transitions</span>
                </a>
                <ul>
                  <li>
                    <a href="layout-page-transition-fade.html">
                      <span class="title">Fade Scale</span>
                    </a>
                  </li>
                  <li>
                    <a href="layout-page-transition-left-in.html">
                      <span class="title">Left In</span>
                    </a>
                  </li>
                  <li>
                    <a href="layout-page-transition-right-in.html">
                      <span class="title">Right In</span>
                    </a>
                  </li>
                  <li>
                    <a href="layout-page-transition-fade-only.html">
                      <span class="title">Fade Only</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="layout-boxed.html">
                  <span class="title">Boxed Layout</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-6 col-sm-8 clearfix">
          <ul class="user-info pull-left pull-none-xsm">
            <li class="profile-info dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="" alt="" class="img-circle" width="44" /> {# TOFIX #}
                Edouard CHIN {# TOFIX #}
              </a>
              <ul class="dropdown-menu">
                <li class="caret"></li>
                <li>
                  <a href="extra-timeline.html">
                    <i class="entypo-user"></i>
                    Edit Profile
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-4 clearfix hidden-xs">
          <ul class="list-inline links-list pull-right">
            <li>
              <a href="extra-login.html">
                Log Out <i class="entypo-logout right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      {% block breadcrumb %}
        <ol class="breadcrumb bc-3" >
          <li>
            <a href="index.html"><i class="fa-home"></i>Home</a>
          </li>
          <li>
            <a href="extra-icons.html">Extra</a>
          </li>
          <li class="active">
            <strong>Gallery</strong>
          </li>
        </ol>
      {% endblock breadcrumb %}
      {% for type, flashes in app.session.flashbag %}
        {% for message in flashes %}
          <div class="fade in alert {% if type == 'error' %} alert-danger {% else %} alert-success {% endif %}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon {% if type == 'error' %}glyphicon-exclamation-sign{% else %}glyphicon-ok{% endif %}" aria-hidden="true"></span>
            <span> {{ message|raw }} </span>
          </div>
        {% endfor %}
      {% endfor %}
      {% block container %} {% endblock container %}
    </div>
  </div>
  {% javascripts
    '@admin_base_js'
    output='compiled/js/admin-base.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
  {% block javascripts %}{% endblock %}
</body>
</html>
