{% extends '::base.html.twig' %}
{% block title %} Admin Wally - {% endblock %}
{% block bodyclass %}page-body{% endblock %}
{% block body %}
  <div class="page-container">
    <div class="sidebar-menu">
      <div class="sidebar-menu-inner">
        <header class="logo-env">
          <div class="logo">
            <a href="index.html">
              <img src="" width="120" alt="" /> {# TOFIX #}
            </a>
          </div>
          <div class="sidebar-collapse">
            <a href="#" class="sidebar-collapse-icon">
              <i class="entypo-menu"></i>
            </a>
          </div>
          <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
              <i class="entypo-menu"></i>
            </a>
          </div>
        </header>
        <ul id="main-menu" class="main-menu">
          <li>
            <a href="">
              <i class="entypo-layout"></i>
              <span class="title">Config</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-6 col-sm-8 clearfix">
          <ul class="user-info pull-left pull-none-xsm">
            <li class="profile-info dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="" alt="" class="img-circle" width="44" /> {# TOFIX #}
                Edouard CHIN {# TOFIX #}
              </a>
              <ul class="dropdown-menu">
                <li class="caret"></li>
                <li>
                  <a href="#">
                    <i class="entypo-user"></i>
                    Edit Profile
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-4 clearfix hidden-xs">
          <ul class="list-inline links-list pull-right">
            <li>
              <a href="#">
                Log Out <i class="entypo-logout right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      {% block breadcrumb %}
        <ol class="breadcrumb bc-3" >
          <li>
            <a href="#"><i class="fa-home"></i>Home</a>
          </li>
        </ol>
      {% endblock breadcrumb %}
      {% for type, flashes in app.session.flashbag %}
        {% for message in flashes %}
          <div class="fade in alert {% if type == 'error' %} alert-danger {% else %} alert-success {% endif %}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon {% if type == 'error' %}glyphicon-exclamation-sign{% else %}glyphicon-ok{% endif %}" aria-hidden="true"></span>
            <span> {{ message|raw }} </span>
          </div>
        {% endfor %}
      {% endfor %}
      {% block container %} {% endblock container %}
    </div>
  </div>
{% endblock body %}
{% block javascripts %}
  <script type="text/javascript" src="http://localhost:3000/client.js"></script>
{% endblock %}
