<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  Hello !

  {{ dump(app.session.flashbag.all) }}
  {% for type, flashMessages in app.session.flashbag.all %}
    {% for flash in flashMessages %}
      <div style="color:{% if type == 'error' %}red{% elseif type == 'success' %}green {% endif %}">{{ flash }}</div>
    {% endfor %}
  {% endfor %}

  <a href="{{ facebookUrl }}"> Click here to login on facebook </a> <br />
  <a href="{{ instagramUrl }}"> Click here to login on instagram </a>

</body>
</html>
